<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 결제수단 구현 참고: selectPaymentMethods -->
<!-- 결제수단 구현 참고: updatePaymentMethod -->
<mapper namespace="com.asak.admin.mapper.AdminPaymentMethodMapper">
</mapper>
