<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asak.user.mapper.UserMenuMapper">

    <!-- 카테고리 조회 -->
    <select id="selectCategory" resultType="category">
        select 
            id as categoryId,
            name as categoryName,
            sort_no as sortOrder,
            active as isActive
        from category
        where active = true
        order by sort_no asc
    </select>

    <!-- 메뉴 조회 -->
    <select id="selectMenuList" resultType="menuList">
        SELECT
            id AS menuId,
            cat_id AS categoryId,
            name,
            price,
            image_url AS imageUrl,
            sold_out AS isSoldOut
        FROM menu
        ORDER BY cat_id ASC, id ASC
    </select>

    <!-- 메뉴 디테일 -->
    <select id="selectMenuDetail" resultType="menuDetail">
        select
            id as menuId,
            cat_id as categoryId,
            name,
            price,
            image_url as imageUrl,
            sold_out as isSoldOut
        from menu
        where id = #{ menuId }
    </select>

    <!-- 재료 조회 -->
    <!-- 옵션 그룹 조회 -->
    <!-- 옵션 아이템 조회 -->
    <!-- 영양 정보 조회 -->


</mapper>